.counter-box {
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100px;
    height: 150px;
    align-content: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 85%, rgba(255,255,255,1) 100%);
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0);
    font-size: 100px;
    color: whitesmoke;
    padding-left: 19px;
}


.fa-clock {
    font-size: 70px !important;
    margin: auto;
    margin-right: 10px !important;

    padding-right: 20px !important;
   
}

.container {
  background-color:rgba(16, 16, 16, 0.847);
  height: 280px;
  width: 900px;
  border-radius: 15px;
}