.counter-box {
    margin-left: 20px;
    margin-top: 100px;
    width: 100px;
    height: 150px;
    align-content: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 85%, rgba(255,255,255,1) 100%);
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0);
    font-size: 100px;
    color: whitesmoke;
    padding-left: 19px;
}

.clock {
  position: absolute;
}
.fa-clock {
    font-size: 80px !important;
}